<%= form_for(slot) do |f| %>
  <% if slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
      <% slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-md-12">
          <div class="form-group label-floating">
              <label class="control-label">Nombre o número del espacio</label>
              <%= f.text_field :number, :class => "form-control"%>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="form-group label-floating">
              <label class="control-label">Tipo de Vehículo</label>
              <%= f.select :vehicle_type_id, options_for_select(VehicleType.all.collect { |vehicle_type| [vehicle_type.name, vehicle_type.id] }, @slot.vehicle_type_id), {}, :class => "form-control", :style =>"width: 100%" %>
          </div>
      </div>
  </div>


  <%= f.submit "Crear Espacio",:class => "btn btn-primary pull-right" %>
  <div class="clearfix"></div>
<% end %>
