<%= form_for(reserf) do |f| %>
  <% if reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserf.errors.count, "error") %> prohibited this reserf from being saved:</h2>

      <ul>
      <% reserf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :slot_id %>

   <div class="row">
      <div class="col-md-12">
          <div class="form-group label-floating">
              <label class="control-label">Hora de entrada</label>
              <%= f.datetime_select :initTime, :class => "form-control"%>
          </div>
      </div>
  </div>

  <%= f.fields_for(:vehicle) do |ff| %>
    <h4>Vehiculo</h4>

    <div class="row">
      <div class="col-md-12">
          <div class="form-group label-floating">
              <label class="control-label">Patente</label>
              <%= ff.text_field :patente, :class => "form-control"%>
          </div>
      </div>
    </div>    

    <div class="row">
      <div class="col-md-12">
          <div class="form-group label-floating">
              <label class="control-label">Tipo de Vehículo</label>
              <%= ff.select :vehicle_type_id, options_for_select(VehicleType.all.collect {|vehicle_type| [vehicle_type.name, vehicle_type.id ]}, @reserf.vehicle.vehicle_type_id), {}, :class => "form-control", :style =>"width: 100%" %>
          </div>
      </div>
    </div>    

    <div class="row">
      <div class="col-md-12">
          <div class="form-group label-floating">
              <label class="control-label">Descripción</label>
              <%= ff.text_field :description, :class => "form-control"%>
          </div>
      </div>
    </div>    

    <div class="row">
      <div class="col-md-12">
          <div class="form-group label-floating">
              <label class="control-label">Contacto</label>
              <%= ff.text_field :phone, :class => "form-control"%>
          </div>
      </div>
    </div>    

  <% end %>

  <%= f.submit "Crear la Entrada",:class => "btn btn-primary pull-right" %>
  <div class="clearfix"></div>

<% end %>